li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.global-container {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 825px;
  margin: 0 auto;
}
